.vui-tree {
    --horizontal-line-width: 14px;
    --tree-style-title-padding: 6px;
    --indent-unit: 24px;
    box-sizing: border-box;

}


.vui-tree ul, li, p {
    list-style: none;
    margin: 0;
    padding: 0;
}


.vui-tree .vui-group-container {
    height: 500px;
    width: 100%;
    overflow-y: auto;
    overflow-anchor: none;
}


.vui-tree .vui-group-container>ul.vui-tree-group {
    overflow: hidden;
}


.vui-tree .vui-tree-item {
    min-width: 100%;
    box-sizing: border-box;
    width: max-content;
}

.vui-tree .vui-tree-item-title {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    height: 28px;
    /* line-height: 28px; */
    font-size: 12px;
    -webkit-font-smoothing: auto;
    white-space: pre;
    font-size: 14px;
    min-width: 100%;
    width: max-content;
    cursor: pointer;

}

.vui-tree .vui-tree-item:hover {
    background-color: #e8f2ff;
}

.vui-tree .vui-tree-item.is-checked {
    background-color: #e8f2ff;

}


.vui-tree .vui-tree-item .vui-tree-item__expand-icon {
    display: inline-block;
    padding: 0 10px
}

.vui-tree .vui-tree-item .vui-tree-item__expand-icon.expand {
    transform: rotate(-90deg);
}